[submodule "kwsk-frontend"]
	path = kwsk-frontend
	url = git@github.com:hyrrot/kwsk-frontend.git
[submodule "kwsk-coordinator"]
	path = kwsk-coordinator
	url = git@github.com:hyrrot/kwsk-coordinator.git
